header{
    background-color: #ffbd59;
    padding: 20px 0;
}
.logo-header{
    display: inline;
}
.caixa-apresentacao{
    position: relative;
    width: 940px; 
    margin: 0 auto; 
}
.titulo-site{
    position: absolute;
    right: 10px;
    top: 150px;
    color:white;
    font-size: 40px;
    text-decoration: none;
    font-family: Montserrat;
    font-weight: bold;
}
.caixa-opcoes{
    height: 70px;
    margin: 0 auto; 
    background-color: #f58220;
}
.caixa-acoes-de-busca{
    position: relative;
    width: 940px; 
    margin: 0 auto; 
}
.acoes-de-busca{
    position: absolute;
    width: 1050px;
}
.caixa-opcoes li{
    display: inline;
    margin-right: 15px;
    padding: 10px;
}
.caixa-opcoes button{
    font-family: Montserrat;
    font-weight: bold;
    font-size: 28px;
    background: none;
    color: white;
    margin-right: 15px;
    margin-top: 15px;
    border: none;
}
.caixa-opcoes li:hover{
    background-color: #ee9d25;
    border-bottom: 4px solid #ffbd59;
    border-radius: 5px;
    transition-duration: 0.3s;
    
}
body {
    background-color: #ffbd59;
    padding-bottom: 58px;
    font-family: Montserrat;
    font-size: 28px;
    color: #ee9d25;
}

body h2{
    padding-bottom: 15px;
    font-weight: bold;

}

body table{
    font-size: 20px;
}

main{
    width: 80%;
    margin: 0 auto;
    padding: 30px 20px;
}
article{
    background-color:cornsilk;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 2px solid #f58220;
}

footer{
    text-align: center;
    font-family: Montserrat;
    font-size: 12px;
    color: white;
    
    padding: 10px;
    background-color: #f58220;
    bottom: 0;
    position: fixed;
    width: 100%; 
}