header{
    background-color: #ffbd59;
    padding: 20px 0;
}
.logo-header{
    display: inline;
}
.caixa-apresentacao{
    position: relative;
    width: 940px; 
    margin: 0 auto; 
}
.titulo-site{
    position: absolute;
    right: 10px;
    top: 150px;
    color:white;
    font-size: 40px;
    text-decoration: none;
    font-family: Montserrat;
    font-weight: bold;
}
body {
    background-color: #ffbd59;
    padding-bottom: 58px;
}
main{
    width: 90vw;
    margin: 0 auto;
    padding: 30px 20px;
}
.campo-mensagem-verificacao{
    background-color:rgb(250, 243, 215);

    border-radius: 5px;
    border: 2px solid #f58220;

    height: auto;
    max-width: 1550px;
    margin: 60px auto;
}
.campo-digitacao{
    border-radius: 5px;
    border: 2px solid #f58220;

    height: 50px;
    max-width: 1550px;
    margin: 60px auto;
}
.titulo{
    text-align: center;
    font-size: 30px;
    font-family: Montserrat;
    color: #f58220;
    padding: 1%;
    font-weight: bold;
}
.instrucao{
    text-align: center;
    font-size: 20px;
    font-family: Montserrat;
    color: #f58220;
    padding: 15px;
    font-weight: bold;
}
.verificar {
    font-family: Montserrat;

}
footer{ 
    padding: 13px 0px;
    background: #f58220;
    position: absolute;
    width: 100%;
    margin: 30px auto; 

}

footer p{
    text-align: center;
    font-size: 14px;
    color: white;
}